html, body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    }

.nav {
    display: inline-block;
    margin: 10px;
    padding: 10px;

    background-color: #7ac17e
}

.p_footer {
    float: left;
    margin: 20px;
}

.logo_rss {
    float: right;
    margin: 20px;
}